<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>


	<!--Fontawesome-->
	<!--<link rel="stylesheet" href="{%static 'lib/fontawesome-free-5.15.4/css/all.css'%}">-->
	-<script src="lib/Jquery3.6.0/jquery-3.6.0.js"></script>

</head>
<body>

	<button type="button" class="btn btn-primary">Primary</button>

	{%if courses%}
	{%for course in courses%}
	<ul>
		<li>{{course.title}}</li>
	</ul>
	{%endfor%}
	{%else%}
	<h4>No hay cursos</h4>
	{%endif%}
	
</body>
</html>