<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!--Jquery-->

	<script src="{% static 'lib/Jquery3.6.0/jquery-3.6.0.js'%}"></script>

	<link rel="stylesheet" href="{% static '/lib/jqueryui/jquery-ui.css'%}">
	<script src="{% static 'lib/jqueryui/jquery-ui.min.js'%}"></script>

	<!--Bootstrap-->
	<link rel="stylesheet" href="{%static '/lib/bootstrap-5.1.0/css/bootstrap.min.css'%}">
	<script src="{%static 'lib/bootstrap-5.1.0/js/bootstrap.bundle.min.js'%}"></script>
	<script src="{%static 'lib/bootstrap-4.5.3/js/bootstrap.bundle.min.js'%}"></script>

	<!--Sweetalert2-->
	<script src="{%static 'lib/sweetalert2/sweetalert2.all.min.js'%}"></script>

	<!--Fontawesome-->
	<link rel="stylesheet" href="{%static 'lib/fontawesome-free-5.15.4/css/all.css'%}">
</head>
<body>

	<button type="button" class="btn btn-primary">Primary</button>

	{%if courses%}
	{%for course in courses%}
	<ul>
		<li>{{course.title}}</li>
	</ul>
	{%endfor%}
	{%else%}
	<h4>No hay cursos</h4>
	{%endif%}
	
</body>
</html>