{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!--Bootstrap-->

	<link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">


	<link rel="stylesheet" href="{%static 'index.css'%}">


</head>
<body>

	<button type="button" class="btn btn-primary">Primary</button>

	<h3>Hola mundo</h3>

	{%if courses%}
	{%for course in courses%}
	<ul>
		<li>{{course.title}}</li>
	</ul>
	{%endfor%}
	{%else%}
	<h4>No hay cursos</h4>
	{%endif%}
	
</body>
</html>