<!--{%load static%}-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!--Jquery-->

	<script src="{% static '/lib/Jquery3.6.0/jquery-3.6.0.js'%}"></script>

	<link rel="stylesheet" href="{% static '/lib/jqueryui/jquery-ui.css'%}">
	<script src="{% static '/lib/jqueryui/jquery-ui.min.js'%}"></script>

	<!--Bootstrap-->
	<link rel="stylesheet" href="{%static '/lib/bootstrap-5.1.0/css/bootstrap.min.css'%}">
	<script src="{%static '/lib/bootstrap-5.1.0/js/bootstrap.bundle.min.js'%}"></script>


	<!--Fontawesome-->
	<link rel="stylesheet" href="{%static '/lib/fontawesome-free-5.15.4/css/all.css'%}">

	<link rel="stylesheet" href="{%static '/base/css/base.css'%}">

</head>
<body>


	<div class="container text-center" id="contenido">
			<div class="row">
				<div class="col-1"></div>

				  <div class="col-10">
					  </div>
					  	<div class="card text-center">
							  <div class="card-header">
							   {%block cardheader%}{%endblock%}
							  </div>
									  <div class="card-body">
									    	{%block content%}

											{%if courses%}
											{%for course in courses%}
											<ul>
												<li>{{course.title}}</li>
											</ul>
											{%endfor%}
											{%else%}
											<h4>No hay cursos</h4>
											{%endif%}
									    	{%endblock%}
									  </div>
							  <div class="card-footer text-muted">
							  	{%block cardfooter%}{%endblock%}
							  </div>
	                    </div>

				  </div>


				<div class="col-1"></div>
	        </div>
			
</body>
</html>